---
import Layout from '@/layouts/Layout.astro';
import decoRef from "@/assets/images/deco.png";
---

<Layout>
    <img src={decoRef.src} alt=""/>
    <h1>Vous avez pris un tunnel ?</h1>
    <p>
        Indiquez avec une touche d'humour à votre correspondant que la conversation est
        unidirectionnelle.
    </p>
    <nav>
        <a href="/levels/1">
            Voir la carte niveau 1
        </a>
        <a href="/levels/2">
            Voir la carte niveau 2
        </a>
    </nav>
</Layout>

<style>
    img {
        width: 35%;
    }

    p, nav {
        font-size: 1.1rem;
    }

    nav {
        display: flex;
        flex-flow: row wrap;
        gap: .5rem;

        a {
            padding: .5rem 1rem;
            background: #101010;
            color: #fff;
            border-radius: .5rem;
            text-decoration: none;
            font-weight: bold;

            &:first-of-type {
                background: #ea9911;
            }

            &:last-of-type {
                background: #e34912;
            }

            &:hover {
                filter: brightness(105%);
            }
        }
    }
</style>