---
---
<article class="tunnel-card">
    <div>
        <div>
            <slot name="front"/>
        </div>
        <div>
            <slot name="back"/>
        </div>
    </div>
</article>

<script>
    document.querySelectorAll('.tunnel-card').forEach((el) => {
        el.addEventListener('click', () => {
            el.classList.toggle('flipped');
        })
    })
</script>

<style>
    .tunnel-card {
        background-color: transparent;
        width: 100%;
        aspect-ratio: 297 / 420;
        perspective: 200vw;

        > div {
            position: relative;
            width: 100%;
            height: 100%;
            transition: all 0.4s;
            transform-style: preserve-3d;

            > div {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;

                &:last-of-type {
                    transform: rotateY(180deg);
                }
            }
        }

        &.flipped > div {
            transform: rotateY(180deg);
        }
    }
</style>
